*{
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

.prognoza{
    display: flex;
}

.vreme{
    background-color: lightseagreen;
    border-top: 2px solid blueviolet;
    width: 60%;

    text-align: center;
}

#weather{
    font-size: 30px;
}

#wind{
    border-top: 2px solid blueviolet;
}

.vreme i{
    padding-top: 35px;
}

#main-content{
    margin: auto;
    width: 700px;
    height: 500px;
    background-color: aqua;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


input{
    margin-top: 10px;
    margin-left: 275px;
    margin-right: 275px;
    width: 150px;
}

.temperature{
    width: 40%;   
    padding-left: 20px;
    padding-top: 10px;
    border-right: 2px solid blueviolet;
    border-top: 2px solid blueviolet;
    padding-right: 10px;
    height: 391px;
    background-color: aquamarine;
}



.current{
    padding-top: 20px;
    font-size: 30px;
}

.ostalo{
    font-size: 20px;
}